*{
    margin: 0;
    padding: 0;
}
/*formatting the contact-box*/
.contact-box{
    width: 500px;
    background-color: rgb(210, 199, 199);
    box-shadow: 0 0 20px 0 black;
    margin: 100px;
    margin-left: 500px;
    padding: 20px;
    border-radius: 30px;
    transform: translate();



}
/*formate the form*/
form{

    margin: 35px;

}
/*formatting the input-field*/
.input-field{
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid grey;
    border-radius: 10px;
    font-size: 20px;
    outline: none;
}
.textarea-field{
    height: 150px;
    padding-top: 10px;
}
/*formatting the button*/
.btue button{
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 50px;
    margin: 20px;
    margin-left: 150px;
    background-color: white;
}

.btue button:hover{
    background-color: rgb(251, 142, 142);
    border: none;
 
}